<header class="row no-gutters">
    <div class="col 3 text-center">
      <h2>Mongo Scraper</h2>
    </div>

    <div class="col 6 text-center">
      <button class="btn btn-success">Scrape New Articles</button>
      <button class="btn btn-danger">Clear Articles</button>
    </div>

    <div class="col 3 text-right">
      <span>
        <a href="/">Home</a>
        <br>
        <a href="/saved">Saved Articles</a>
      </span>
    </div>
</header>