header, footer, main { position: absolute; left: 0; width: 100%; }
header, footer { overflow: hidden; height: 55px; }
header { top: 0; }
main { top: 55px; bottom: 35px; overflow: auto; background: #CCC; }
footer { bottom: 0; height: 40px;}​

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header, footer {
  color: rgb(241, 241, 241);
  background-color: rgb(0, 125, 209);
}

header button {
  position: relative;
  top: 5px;
}

header h2 {
  position: relative;
  top: 3px;
  text-shadow: .5px .5px rgb(49, 49, 49);
  -webkit-text-stroke: 1px black
}

header a {
  position: relative;
  color: rgb(241, 241, 241);
  margin-right: 25px;
}

a:hover {
  color: rgb(241, 241, 241);
}

footer p {
  position: relative;
  top: 6px;
  margin-left: 25px;
}

#logo-view {
  background-image: url(../images/nytbackdrop.jpg);
  background-size: 100% 100%;
  height: 21vw;
}

#logo-view h1{
  position: relative;
  top: 45%;
  font-size: 60px;
  color: rgb(228, 228, 228);
  text-shadow: 3px 3px rgb(49, 49, 49);
  -webkit-text-stroke: 2px black
}

#article-view {
  height: 44vh;
  overflow: auto;
}